.Container {
    color: #da1e1e;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    position: relative;
    background-color: white;
    padding: 20px;
  }

a:link {
    color: #da1e1e;
    text-decoration: none;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  

a:visited {
    color: #da1e1e;
    text-decoration: none;
}
body {
  margin: 0;
  font-family: 'EB Garamond', serif;
}
  
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: 2rem;

}

.Nav-left, .Nav-right {
  display: flex;
}
  
.Nav-center {
  flex: 1;
  text-align: center;
  font-size: 3rem;
}
  
.Nav-center h1 {
  margin: 0;
}  
.Navbar a {
  text-decoration: none;
}

html, body {
  margin: 0;
  height: 0;
  height: 100%;
}

.rowing-image {
  background-image: url("/IMAGES/goodpicture.JPG");
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 100%;
}