.Container {
    font-size: 3rem;
    color: #da1e1e;
    font-family: "EB Garamond", serif;
    font-style: normal;
    height: 100%;
    background-color: white;
    padding: 40px;
    text-align: center;
  }

.film {
    padding: 30px;
    font-size: 1.5rem;
}
.results {
  color:#da1e1e;
  text-align: center;
}

h1{
  font-size: 5.61rem;
}

h2{
  font-size: 4.209rem;
}

h3{
  font-size: 3.157rem;
}

p{
  font-size: 1.2rem;
}
